Repository DataDog/dd-trace-java: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dsm-kafka-producer-benchmark, dsm-kafka-consumer-benchmark, exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

Path conditions:
  dsm-kafka-producer-benchmark: any of: dd-java-agent/instrumentation/kafka*/**/*
  dsm-kafka-consumer-benchmark: any of: dd-java-agent/instrumentation/kafka*/**/*
  exploration-tests-jsoup: any of: dd-java-agent/agent-debugger/**/*
  exploration-tests-jackson-core: any of: dd-java-agent/agent-debugger/**/*
  exploration-tests-jackson-databind: any of: dd-java-agent/agent-debugger/**/*

Avoid double snapshots for Exception Replay (#8273)
  .circleci/config.continue.yml.j2
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

Institute a 10 snapshot per probe per trace budget (#8277)
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

Introduce id-based line probe source matching (#8275)
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/trigger/TriggerProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/utils/InstrumentationTestHelper.java
  dd-java-agent/agent-debugger/src/test/java/utils/TestHelper.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot01.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot02.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot03.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot04.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot05.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot06.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot07.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot08.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot101.scala
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot201.groovy
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot301.kt
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot302.kt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot10.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot11.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot18.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot21.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot29.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

add a tag tracking the overall invocation account
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

Properly capture lambda payloads for all handler types. (#8264)
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-java-agent/instrumentation/aws-lambda-handler/src/test/groovy/Handler.java
  dd-java-agent/instrumentation/aws-lambda-handler/src/test/groovy/LambdaHandlerInstrumentationTest.groovy
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/main/java/datadog/trace/lambda/ReadFromOutputStreamJsonAdapter.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Due: none

two budgets for capture vs non-capture snapshots
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

use _ instead of space in case metrics tags don't allow spaces
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

we just need to store the counts
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

Use two budgets depending on type (#8283)
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

Remove redundant setJavaVersion calls in gradle (#8278)
  dd-java-agent/instrumentation/java-lang/build.gradle
  dd-java-agent/instrumentation/java-net/build.gradle
  dd-java-agent/instrumentation/javax-naming/build.gradle
Due: none

build
  dd-java-agent/instrumentation/jakarta-mail/build.gradle
  dd-java-agent/instrumentation/jakarta-mail/src/main/java/datadog/trace/instrumentation/jakarta/mail/JakartaMailBodyInstrumentation.java
  dd-java-agent/instrumentation/jakarta-mail/src/main/java/datadog/trace/instrumentation/jakarta/mail/JakartaMailInstrumentation.java
  dd-java-agent/instrumentation/jakarta-mail/src/test/groovy/JakartaMailInstrumentationTest.groovy
  settings.gradle
Due: none

build
  dd-java-agent/instrumentation/jakarta-mail/build.gradle
Due: none

Fix tests
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Due: none

Moved metrics of Waf to the else of isRasp + add tests for both metrics
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Due: none

Probe for existence of IBMSASL or ACCP security providers.
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Due: none

Decouple gradle JDK from compile/test JDK
  dd-java-agent/agent-bootstrap/build.gradle
  dd-java-agent/agent-builder/build.gradle
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-profiling/profiling-controller-jfr/build.gradle
  dd-java-agent/instrumentation/exception-profiling/build.gradle
  dd-smoke-tests/armeria-grpc/build.gradle
  dd-smoke-tests/build.gradle
  dd-smoke-tests/iast-util/build.gradle
  dd-smoke-tests/java9-modules/build.gradle
  dd-smoke-tests/play-2.4/build.gradle
  dd-smoke-tests/play-2.5/build.gradle
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
  dd-smoke-tests/vertx-3.4/build.gradle
  gradle/java_no_deps.gradle
  internal-api/build.gradle
Due: none

wip: remove spotbugs error
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
Due: none

WIP: use JDK 11 for gradle
  .circleci/config.continue.yml.j2
Due: none

wip: java 7
  dd-java-agent/build.gradle
Due: none

Fix forbiddenApi warn for debugger
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

WIP: forbiddenapis attempts
  gradle/java_no_deps.gradle
Due: none

Fix javadoc 8 support
  gradle/java_no_deps.gradle
  internal-api/build.gradle
Due: none

WIP: attempt at forbidden apis
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  internal-api/src/main/java/datadog/trace/util/stacktrace/HotSpotStackTraceIterator.java
  internal-api/src/main/java/datadog/trace/util/stacktrace/HotSpotStackWalker.java
Due: exploration-tests-jsoup, exploration-tests-jackson-core, exploration-tests-jackson-databind

jakarta-jms compile deps
  dd-java-agent/instrumentation/jakarta-jms/build.gradle
Due: none

WIP: fix kotlin
  gradle/java_no_deps.gradle
Due: none

Fix java version for tests in jetty-9 module
  dd-java-agent/instrumentation/jetty-9/build.gradle
Due: none

Fix setJavaVersion for groovy
  gradle/java_no_deps.gradle
Due: none

Fix kafka-clients-0.11 jdk
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
Due: dsm-kafka-producer-benchmark, dsm-kafka-consumer-benchmark

Fix java version for tests in play-2.6 module
  dd-java-agent/instrumentation/play-2.6/build.gradle
Due: none

Fix jdbc latestDepTest
  dd-java-agent/instrumentation/jdbc/build.gradle
Due: none

Fix armeria-jetty-11 jdk
  dd-java-agent/instrumentation/armeria-jetty/build.gradle
Due: none

Fix jakarta-rs-annotations-3 jdk
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/build.gradle
Due: none

WIP: fix spring-boot-2.7-webflux smoke test
  dd-smoke-tests/spring-boot-2.7-webflux/application/build.gradle
Due: none

WIP: wildfly smoke test
  dd-smoke-tests/wildfly/build.gradle
Due: none

WIP: fix wildfly smoke test
  dd-smoke-tests/wildfly/build.gradle
  dd-smoke-tests/wildfly/spring-ear/build.gradle
Due: none

fix quarkus smoke test
  dd-smoke-tests/quarkus/application/build.gradle
  dd-smoke-tests/quarkus/build.gradle
Due: none

Remove skip and shouldBeSkipped methods from TestEventsHandler in favor of isSkippable
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionResults.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestSuiteImplTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/retry/JUnit5SpockParameterizedRetryInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Due: none

Dependency cache and build cache
  .gitlab-ci.yml
  gradle/wrapper/gradle-wrapper.properties
Due: none

16gb memory request
  .gitlab-ci.yml
Due: none

Remove skip and shouldBeSkipped methods from TestEventsHandler in favor of isSkippable (#8286)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionResults.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestSuiteImplTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/retry/JUnit5SpockParameterizedRetryInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Due: none
